a:link {
  color: black;
  text-decoration: none;
  background-color: transparent
}

table {
  letter-spacing: 1px;
  word-spacing: 5px;
  text-indent: 30px;
}

.cor-um {
  color: black;
  text-align: left;
}

.cor-dois {
  color: black;
}

.cor-tres {
  color: black;
}

.button {
  color: rgb(0, 0, 0);
  background-color: rgb(179, 43, 31);
  border: none;
}

.strong{
  text-align: center;
}

.cor-quatro {
  text-align: center;
}

footer {
  background-color: rgb(179, 43, 31);
  text-align: center;
  padding: 10px;
}

h2 {
  text-align: center;
}

a:visited {
  color: black;
}

p {
  text-align: center;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#divBusca {
  background-color: #e0eeee;
  border: solid 2px rgb(179, 43, 31);
  border-radius: 10px;
  width: 300px;
  height: 32px;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 191px;
}

#btnBusca {
  border: none;
  float: left;
  height: 32px;
  border-radius: 0 7px 7px 0;
  width: 104px;
  font-weight: bold;
  background: rgb(179, 43, 31);
}

#divBusca img {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(179, 43, 31);
  vertical-align: center;
}

li {
  float: left;
  vertical-align: center;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(170, 70, 70);
}

form.solid {
  border-style: solid;
}

h3 {
  text-align: center;
}

div.container4 {
  height: 10em;
  position: relative
}

input {
  color: black;
}

.form {
  text-align: center;
  border: 2cm;
  border: solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 200px;
  background-color: rgb(179, 43, 31);
  color: rgb(255, 255, 255);
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: brown;
}

.pagination a.active {
  background-color: rgb(146, 17, 17);
  color: white;
}

h2 {
  text-align: center;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

* {
  margin: 0;
  padding: 0;
}

.slider {
  display: block;
  height: 600px;
  width: 900px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.slider input {
  display: none;
}

.slider label {
  background-color: #000;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
  animation: cycle 5s linear infinite;
  -moz-animation: cycle 5s linear infinite;
  -webkit-animation: cycle 5s linear infinite;
  -ms-animation: cycle 5s linear infinite;
  -o-animation: cycle 5s linear infinite;
}

.slider li:nth-child(2) label {
  left: 40px;
  animation: cycletwo 5s linear infinite;
  -moz-animation: cycletwo 25s linear infinite;
  -webkit-animation: cycletwo 25s linear infinite;
  -ms-animation: cycletwo 25s linear infinite;
  -o-animation: cycletwo 25s linear infinite;
}

.slider li:nth-child(3) label {
  left: 70px;
  animation: cyclethree 5s linear infinite;
  -moz-animation: cyclethree 25s linear infinite;
  -webkit-animation: cyclethree 25s linear infinite;
  -ms-animation: cyclethree 25s linear infinite;
  -o-animation: cyclethree 25s linear infinite;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked~img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.container{
  text-align: center;
}